<!DOCTYPE html>
<html lang="en">
<%- include('partial/head.ejs') %>
<body>
    <%- include('navbar.ejs') %>


    <!-- HOME SECTION START -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hello, My Name Is</div>
                <div class="text-2">Kevin Rimbun</div>
                <div class="text-3">And I'm an <span>Ambitious</span></div>
            </div>
        </div>
    </section>

    <!-- ABOUT SECTION START -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About Me</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="./image/profil-abu-kevin.png" alt="">
                </div>
                <div class="column right">
                    <div class="text">
                        I'm Kevin Rimbun and I'm a <span>Beginner Developer</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam consequatur magni, vel provident officiis perferendis quam beatae corporis incidunt sunt reiciendis inventore hic at earum commodi dolorum vitae odit enim.</p>
                    <!-- <a href="#"></a> -->
                </div>
            </div>
        </div>
    </section>

    <!-- SERVICES SECTION START -->
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">My Services</h2>
            <div class="serv-content">
                <div class="kartu">
                    <div class="box">
                        <i class="material-icons">&#xe051;</i>
                        <div class="text">Web Development</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae delectus in consectetur nostrum voluptatem veniam laboriosam error, quia temporibus quasi maxime esse vero perferendis reprehenderit optio quae blanditiis excepturi possimus!</p>
                    </div>
                </div>

                <div class="kartu">
                    <div class="box">
                        <i style='font-size:24px' class='fab'>&#xf38b;</i>
                        <div class="text">Web Design</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae delectus in consectetur nostrum voluptatem veniam laboriosam error, quia temporibus quasi maxime esse vero perferendis reprehenderit optio quae blanditiis excepturi possimus!</p>
                    </div>
                </div>

                <div class="kartu">
                    <div class="box">
                        <i style='font-size:24px' class='fas'>&#xf121;</i>
                        <div class="text">Full Stack Developer</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae delectus in consectetur nostrum voluptatem veniam laboriosam error, quia temporibus quasi maxime esse vero perferendis reprehenderit optio quae blanditiis excepturi possimus!</p>
                    </div>
                </div>
            </div>

        </div>

        </div>
    </section>




    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores illum error ea impedit excepturi repudiandae eligendi reiciendis accusamus accusantium distinctio non unde consequuntur sequi commodi vero praesentium labore quidem, laudantium autem quia esse architecto nostrum ab assumenda. Fugit distinctio ab dolorem doloremque exercitationem tempore delectus tenetur vitae reiciendis nesciunt ipsam aspernatur temporibus blanditiis iste aliquam eveniet dolore inventore provident molestias, obcaecati quos. Consequatur reiciendis consequuntur velit pariatur ullam. Nostrum, commodi a. Aperiam et asperiores dolor iusto numquam obcaecati. Magnam itaque modi quae dolorum et in quaerat autem perferendis voluptates. Voluptatibus quasi exercitationem nemo ut. Quod officiis laborum cupiditate quo saepe, nisi facilis. Sunt, nam? Esse consequatur, facilis molestias repudiandae voluptas quibusdam magni inventore ipsum, voluptates expedita deleniti minus, nulla amet. Autem aliquam eos totam minus nam magni laborum atque quod laudantium animi incidunt dicta, enim exercitationem qui sed quo voluptatibus blanditiis quam fugiat. Ipsa tempore, tempora voluptate numquam vitae ex esse obcaecati, magnam optio in ducimus? Quidem quae doloremque impedit! Recusandae voluptates accusantium dolorum neque. Ducimus facere quae vel hic ipsum exercitationem voluptatibus sapiente ratione, distinctio suscipit et nobis maxime accusamus dolor doloremque! Provident eos, quasi debitis explicabo iste suscipit fugit officia ea quaerat amet quia architecto soluta nostrum voluptas! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero eveniet harum optio possimus mollitia animi cum perferendis dignissimos, error nobis sit nesciunt quis facilis quaerat commodi quidem delectus atque aliquam pariatur. Sit magni officiis pariatur beatae provident cumque et, architecto at saepe animi ratione commodi, perferendis sint. Aperiam fugit ipsum quaerat. Explicabo aspernatur earum aut? Natus porro beatae vero itaque, ratione deleniti inventore illo hic, modi nostrum cum maxime ipsam tempora veniam similique est voluptates dicta debitis obcaecati exercitationem consequuntur nulla laudantium sit totam! Numquam nihil qui aspernatur animi fugiat delectus possimus dolor placeat voluptatibus, in voluptas praesentium expedita suscipit pariatur repellendus facilis repellat repudiandae accusantium rem totam temporibus dolorem provident perspiciatis rerum. Praesentium magni voluptatibus nobis excepturi, pariatur animi, quisquam laborum omnis quod earum vero nihil, blanditiis fugit porro. Facilis necessitatibus fugit voluptas eligendi, cum quasi? Id, repudiandae saepe est ex at laudantium. Quisquam assumenda officiis nobis fugiat, temporibus unde atque dicta sint iste quasi, in, animi tempore et saepe obcaecati eveniet impedit ab molestiae doloribus similique quo doloremque voluptatem ipsum! Autem voluptatum nostrum nihil vel necessitatibus. Amet modi minus dicta corporis dolore quia laudantium, rem voluptatum repudiandae, praesentium facere tenetur, dolorum obcaecati minima illo. Vel doloremque eius soluta.</p>
    <script src="script.js"></script>
</body>
</html>