<nav class="navbar navbar-expand-lg navbar-color sticky-top">
    <div class="container-fluid max-width">
        <a class="navbar-brand me-auto logo" href="/">Kevin Rimbun</a>
        
      <ul class="navbar-nav menu">
        <li class="nav-item me-4">
          <a class="nav-link text-nav" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link text-nav" href="#">About</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link text-nav" href="#">Services</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link text-nav" href="#">Skills</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link text-nav"  href="#">Contact</a>
        </li>
      </ul>

      <div class="menu-btn">
        <i class="fas fa-bars"></i>
      </div>

    </div>
</nav>

<!-- style="color: #ffffff; font-weight: 600;" -->



<!-- 
<nav class="navbar">
    <div class="max-width">
        <div class="logo"><a href="/">Kevin Rimbun</a></div>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">Teams</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav> -->
